.listGroup {
  display: flex;
}

.listGroup img {
  width: 40%;
  border-radius: 50px;
}

.listGroup > div {
  width: 60%;
  padding-left: 1em;
}

.iframe {
  border: none;
  width: 100%;
  height: 400px;
}

.youtube {
  text-align: center;
}

.description {
  margin-left: 1em;
  margin-right: 1em;
}